@import "./normalize";
@import "~bulma/bulma";

:root {
  --light-green: #2ec4b6;
  --united-nations-blue: #20a4f3;
  --radical-red: #ff3366;
  --rich-black: #011627;
  --cultured: #f6f7f8;
}

$light-green: var(--light-green);
$united-nations-blue: var(--united-nations-blue);
$radical-red: var(--radical-red);
$rich-black: var(--rich-black);
$cultured: var(--cultured);

@font-face {
  font-family: "Proxima";
  src: url("proxima_ssv/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima";
  font-weight: 700;
  src: url("proxima_ssv/Proxima Nova Bold.ttf") format("truetype");
}

html {
  font-family: "Proxima", sans-serif;

  font-size: 62.5%;
  background-color: transparent;
  overflow: auto;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Proxima", sans-serif;

  background-color: $cultured;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}

#root {
  padding-bottom: 20rem;
}

h1 {
  font-family: "Proxima", sans-serif;

  font-size: 5rem;
  line-height: 5.5rem;
  color: $rich-black;
  font-weight: 700;
}

h2 {
  font-family: "Proxima", sans-serif;
}

input[type="text"],
input[type="email"] {
  border-radius: 5px;
  border: 0;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button,
.button {
  background-color: $united-nations-blue;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;

  &:hover,
  &:focus {
    background-color: lighten($color: #4a8fe7ff, $amount: 3%);
    color: white;
  }
}

button.is-danger {
  background-color: $radical-red;
}

@import "./print";
